.u-center-text {
  text-align: center;
}
.u-marginB-8rem {
  margin-bottom: 8rem;
}
.u-marginB-s {
  margin-bottom: 1.5rem;
}
.u-marginB-m {
  margin-bottom: 3rem;
}
.u-marginB-l {
  margin-bottom: 4.5rem;
}

.u-marginT-6rem {
  margin-top: 6rem;
}
.u-marginT-4rem {
  margin-top: 4rem;
}
.u-marginL {
  margin-left: 1.2rem;
}
