@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/varibles";

@import "base/animation";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "layout/header";
@import "layout/grid";

@import "components/button";
@import "components/composition";
@import "components/priceCard";
@import "components/stories";
@import "components/bg-video";
@import "components/book";
@import "components/nav";
@import "components/bookpopup";

@import "pages/home";
@import "pages/features";
@import "pages/footer";

//unsplash.com
//Coverr.co
//cubic-bezier.com

//Media query

/*
0   - 600px     - Mobile
600 - 900px   - Tablet
900 - 1200px  - Tablet landscape mode
here the default computer first our scss comes
1800px  - Laptops
1200px  - Big Moniters  no much change


*/
