//websignt name and sub heading typography
.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  margin-bottom: 6rem;
  /*backface-visibility: hidden;*/
  &--main {
    display: block;
    font-size: 7.5rem;
    font-weight: 500;
    letter-spacing: 3rem;

    animation: moveinLeft 1s ease-out;
    //responsive
    //1200
    @include respond(tabland) {
      letter-spacing: 2rem;
      font-size: 5rem;
    }
    //900
    @include respond(tabport) {
      letter-spacing: 1.5rem;
      font-size: 4.75rem;
    }
    //600
    @include respond(phone) {
      letter-spacing: 1.2rem;
      font-size: 4.2rem;
    }
  }
  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 1.62rem;
    animation: moveinRight 1s ease-out;

    //responsive
    //1200px
    @include respond(tabland) {
      font-size: 1.8rem;
      letter-spacing: 0.8rem;
    }
    //900
    @include respond(tabport) {
      font-size: 1.5rem;
      letter-spacing: 0.75rem;
    }
    //600
    @include respond(phone) {
      font-size: 1.35rem;
      letter-spacing: 0.35rem;
    }
  }
}

//MainHome jsx typography

.heading-secondary {
  font-size: $font-size-large;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    $color-primany-light,
    $color-primany-dark
  );
  background-clip: text; //-webkit-background-clip
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
  //responsive
  //1200px
  @include respond(tabland) {
    font-size: 3rem;
  }
  //900
  @include respond(tabport) {
    font-size: 2.8rem;
  }
  //600
  @include respond(phone) {
    font-size: 2.35rem;
  }
  &:hover {
    transform: scale(1.02);
    text-align: center;
    font-weight: 900;
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
}

.heading-tertiary {
  font-size: $font-size-default;
  font-weight: 600;
  text-transform: uppercase;

  //responsive
  //600
  @include respond(phone) {
    font-size: 1.45rem;
  }
}
.paragraph {
  font-size: $font-size-small;
  //responsive

  //600
  @include respond(phone) {
    font-size: 1.35rem;
  }
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
