body {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  font-size: 1rem;
  line-height: 1.5;
  color: $color-grey-dark;
  padding: 1rem;
}

//websignt name and sub heading typography
.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  margin-bottom: 6rem;
  /*backface-visibility: hidden;*/
  &--main {
    display: block;
    font-size: 5rem;
    font-weight: 500;
    letter-spacing: 3rem;

    animation: moveinLeft 1s ease-out;
  }
  &--sub {
    display: block;
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 1.62rem;
    animation: moveinRight 1s ease-out;
  }
}

//MainHome jsx typography

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 800;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    $color-primany-light,
    $color-primany-dark
  );
  background-clip: text; //-webkit-background-clip
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
  &:hover {
    transform: scale(1.01);
    letter-spacing: 0rem;
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
}
