body {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  font-size: 1rem;
  line-height: 1.5;
  color: $color-grey-dark;
  padding: 1rem;
}

.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 2rem;
  margin-top: -20vh;
}
//features page
.features {
  background-color: $color-grey-light-1;
  padding: 0.1rem;
}
.section-features {
  padding: 25rem 2rem;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primany-light, 0.8),
      rgba($color-primany-dark, 0.8)
    ),
    url(../../img/nat-4.jpg);
  background-size: cover;
  margin-top: -10rem;
  transform: skewY(-7deg);

  & > * {
    transform: skewY(7deg);
  }
}

//Tours page
.section-tours {
  background-color: $color-grey-light-1;
  padding: 15rem 0.5rem 3rem 0.5rem;
  margin-top: -10rem;
}

//section Stories

.section-stories {
  position: relative;
  // margin-top: -45rem;
  padding: 10rem 0;
}
.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    $color-primany-light,
    $color-primany-dark
  );
}
.section-footer {
  background-color: $color-grey-3;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: $color-grey-2;
}
