//colors
$color-primary: #55cc7a;
$color-primany-light: #7ed56f;
$color-primany-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-third-light: #2998ff;
$color-third-dark: #5643fa;

$color-grey-dark: #777;
$color-grey-2: #999;
$color-grey-3: #333;
$color-white: #fff;
$color-grey-light-1: #f7f7f7;
$color-black: #000504;

//font size

$font-size-default: 1.6rem;
$font-size-small: 1.6rem;
$font-size-large: 3.5rem;

//grid

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
