.navigation {
  &__checkbox {
    display: none;
  }
  &__button {
    background-color: $color-white;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 20;
    box-shadow: 0 1rem 3rem rgba($color-black, 0.1);
    text-align: center;
    cursor: pointer;
    @include respond(tabport) {
      top: 4rem;
      right: 4rem;
    }
    @include respond(phone) {
      top: 3rem;
      right: 3rem;
    }
  }
  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(
      $color-primany-light,
      $color-primany-dark
    );
    z-index: 10;

    transition: transform 0.8s;
    @include respond(tabport) {
      top: 4.5rem;
      right: 4.5rem;
    }
    @include respond(phone) {
      top: 3.3rem;
      right: 3.3rem;
    }
    //transform: scale(80); //debug
  }
  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 15;

    //hiding behind
    opacity: 0;
    width: 0;

    //animation
    transition: all 0.5s cubic-bezier(0.67, -0.5, 0.06, 1.4);
  }
  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    // z-index: 15;
    width: 100%;
  }
  &__item {
    margin: 1rem;
  }
  &__link {
    color: $color-white;
    &:link,
    &visited {
      display: inline-block;
      color: $color-white;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-white 50%
      );
      background-size: 220%;
      transition: all 0.4s;
    }
    &:hover,
    &active {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1.5rem);
    }
  }

  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }
  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }

  //icon 3 lines
  &__icon {
    position: relative;
    margin-top: 3.2rem;
    left: 0;
    &,
    &::before,
    &::after {
      width: 3.5rem;
      height: 0.2rem;
      background-color: $color-grey-3;
      display: inline-block;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;

      transition: all 0.2s ease;
    }
    &::before {
      top: -0.9rem;
    }
    &::after {
      top: 0.9rem;
    }
  }
  &__button:hover &__icon::before {
    top: -1rem;
  }
  &__button:hover &__icon::after {
    top: 1rem;
  }
  &__checkbox:checked ~ &__button &__icon {
    background-color: transparent;
  }
  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }
  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}
