.book {
  background-size: cover;
  height: 50rem;
  border-radius: 3px;
  background-blend-mode: screen;
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 49.8%,
      transparent 50%
    ),
    url(../../img/nat-10.jpg);
  &__form {
    width: 50%;
  }
}

//form scss

.form {
  margin-left: 3rem;

  &__group:not(:last-child) {
    margin-bottom: 1rem;
  }

  &__input {
    font-size: 1.6rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 3px;
    border-color: rgba($color-black, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 85%;
    display: block;
    transition: all 0.3s;
    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      border-bottom: 3px solid $color-primary;
    }
    &:focus:invalid {
      border-bottom: 3px solid $color-secondary-dark;
    }
    &::-webkit-input-placeholder {
      color: $color-grey-2;
    }
  }
  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
  }
  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }
  &__radio-group {
    width: 50%;
    display: inline-block;
  }
  &__radio-label {
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    padding-left: 4rem;
  }
  &__radio-button {
    height: 3rem;
    width: 3rem;
    border: 5px solid $color-primary;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: -0.4rem;
    left: 0rem;
    &::after {
      content: "";
      display: block;
      height: 1.3rem;
      width: 1.3rem;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $color-primary;
      opacity: 0;
      transition: opacity 0.2s;
    }
  }

  &__radio-input:checked ~ &__radio-label &__radio-button::after {
    opacity: 1;
  }
}
